@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.r-grid {
  font-family: "Roboto", sans-serif;

  position: relative;

  float: right;

  max-width: 100%;

  user-select: none;
  text-align: center;
}

.thead {
  position: sticky;
  z-index: 1100;
  top: 0;

  min-width: 100%;
  margin-left: -1px;
  padding-left: 178px;

  transform: translateZ(1px);

  color: #ffffff;
  border-bottom: 2px solid #483d8b;
  background-color: slateblue;
}

.thead-row {
  display: flex;

  min-width: 100%;
}

.thead-row > * {
  flex-shrink: 0;

  background-color: slateblue;
}

.thead-row:nth-child(2) {
  margin-bottom: -2px;
}

.thead-cell {
  font-size: 13px;
  line-height: 30px;

  width: 50px;
  height: 30px;

  border: 1px solid #483d8b;
  border-bottom: 0;
}

.thead-cell:first-child {
  border-left-width: 2px;
}

.thead-cell:last-child {
  border-right-width: 2px;
}

.thead-cell.date {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 130px;
}

.thead-cell.weekday {
  margin-top: -1px;
}

.date-inner {
  z-index: 10000;

  display: inline-block;

  transform: rotate(-90deg);
  white-space: nowrap;
}

.tbody-row {
  display: flex;
}

.tbody-row:first-child {
  margin-top: -1px;
}

.tbody-body {
  display: flex;

  margin-left: -2px;
}

.tbody-row > * {
  flex-shrink: 0;
}

.tbody-row:last-child .tbody-cell {
  border-bottom-color: #b1b1b1;
}

.tbody-cell {
  font-size: 0;

  position: relative;

  display: flex;

  width: 50px;
  height: 50px;

  border: 1px solid #b1b1b1;
}

.tbody-cell:first-child {
  border-left-width: 2px;
}
.tbody-cell:last-child {
  border-right-width: 2px;
}

.tbody-cell.today {
  border-color: #7c6de0;
  background-color: #968bdc;
}
.tbody-cell.payed {
  border-color: #4bb671;
  background-color: #59e58b;
}
.tbody-cell.not-payed {
  border-color: #ca5454;
  background-color: #ff7a7a;
}
.tbody-cell.archived {
  border-color: #b1b1b1;
  background-color: #dde2ec;
}
.tbody-cell.has-refund {
  border-color: #d84f9f;
  background-color: #ff8ace;
}

.tbody-cell.selected {
  border-color: #4049b6;
  border-right-color: transparent;
  border-left-color: transparent;
  background-color: #515cda;
}

.tbody-cell.combined.start {
  border-left-color: #b1b1b1;
}

.tbody-cell.combined.end {
  border-right-color: #b1b1b1;
}

.tbody-cell.payed.start,
.tbody-cell.payed.m-from {
  border-left-color: #4bb671;
}
.tbody-cell.payed.end,
.tbody-cell.payed.m-to {
  border-right-color: #4bb671;
}
.tbody-cell.not-payed.start,
.tbody-cell.not-payed.m-from {
  border-left-color: #ca5454;
}
.tbody-cell.not-payed.end,
.tbody-cell.not-payed.m-to {
  border-right-color: #ca5454;
}
.tbody-cell.archived.start,
.tbody-cell.archived.m-from {
  border-left-color: #b1b1b1;
}
.tbody-cell.archived.end,
.tbody-cell.archived.m-to {
  border-right-color: #b1b1b1;
}
.tbody-cell.has-refund.start,
.tbody-cell.has-refund.m-from {
  border-left-color: #d84f9f;
}
.tbody-cell.has-refund.end,
.tbody-cell.has-refund.m-to {
  border-right-color: #d84f9f;
}

.tbody-cell.start:before,
.tbody-cell.end:after {
  position: absolute;
  z-index: 275;
  top: 0;

  width: 24px;
  height: 48px;

  content: "";
}

.tbody-cell.start:before {
  left: 0;

  background-image: linear-gradient(
    to right,
    #ffffff,
    rgba(255, 255, 255, 0.75),
    transparent
  );
}

.tbody-cell.end:after {
  right: 0;

  background-image: linear-gradient(
    to left,
    #ffffff,
    rgba(255, 255, 255, 0.75),
    transparent
  );
}

.tbody-cell:last-child {
  border-right-color: rgba(0, 0, 0, 0.25);
}

.tbody-cell.combined {
  border-right-color: transparent;
  border-left-color: transparent;
}

.tbody-cell-icon {
  position: relative;
  z-index: 250;

  max-width: 24px;
  max-height: 24px;
  margin: auto;
}

.tbody-cell .client-note,
.tbody-cell .late-check-out {
  position: absolute;
  z-index: 300;
  top: 0;

  width: 24px;
  height: 24px;
  padding: 2px;
}

.tbody-cell .client-note > img,
.tbody-cell .late-check-out > img {
  width: 100%;
  height: auto;
}

.tbody-cell .client-note {
  left: 0;
}

.tbody-cell .late-check-out {
  right: 0;
}

.tbody-head {
  position: sticky;
  z-index: 800;
  left: 0;

  display: flex;
}

.tbody-headcell {
  font-size: 13px;
  line-height: 50px;

  z-index: 1000;

  height: 50px;

  color: #ffffff;
  border: 1px solid #483d8b;
  background-color: slateblue;
}

.tbody-headcell.room-name {
  width: 130px;
  padding: 0 10px;

  text-align: left;

  border-right-width: 2px;
}

.tbody-headcell.room-id {
  width: 40px;
  margin-left: -1px;
}

.migrated {
  position: absolute;
  z-index: 200;

  border: 8px solid transparent;
}

.migrated.lt {
  top: -2px;
  left: -2px;

  border-top: 16px solid #6874ff;
  border-left: 16px solid #6874ff;
}

.migrated.lb {
  bottom: -2px;
  left: -2px;

  border-bottom: 16px solid #6874ff;
  border-left: 16px solid #6874ff;
}

.migrated.rb {
  right: -2px;
  bottom: -2px;

  border-right: 16px solid #6874ff;
  border-bottom: 16px solid #6874ff;
}

.migrated.rt {
  top: -2px;
  right: -2px;

  border-top: 16px solid #6874ff;
  border-right: 16px solid #6874ff;
}

#grid-tooltip {
  position: fixed;
  z-index: 100000;

  width: 240px;
  padding: 15px;

  text-align: left;
  pointer-events: none;

  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#grid-tooltip.show {
  opacity: 1;
}

#grid-tooltip:after {
  visibility: hidden;
}

.grid-tooltip-field {
  font-size: 14px;
  font-weight: bold;

  display: block;

  color: #444444;
}

.grid-tooltip-value {
  font-size: 15px;
  font-weight: normal;

  display: block;

  margin-top: 5px;
  margin-bottom: 5px;

  content: "";
  white-space: pre-wrap;

  color: #333333;
}

.grid-payment-icon {
  font-size: 24px;
  line-height: 20px;

  display: inline-block;

  margin: auto;
}

.grid-additional-icon {
  font-size: 16px;
  line-height: 18px;

  display: inline-block;
}

.r-grid.s-80 .tbody-headcell {
  font-size: 12px;
  line-height: 44px;

  height: 44px;
}

.r-grid.s-80 .thead-cell {
  font-size: 12px;

  width: 44px;
}

.r-grid.s-80 .tbody-cell {
  width: 44px;
  height: 44px;
}

.r-grid.s-80 .grid-payment-icon {
  font-size: 20px;
  line-height: 18px;
}

.r-grid.s-80 .grid-additional-icon {
  font-size: 14px;
  line-height: 16px;
}

.r-grid.s-80 .tbody-cell.start:before,
.r-grid.s-80 .tbody-cell.end:after {
  width: 21px;
  height: 42px;
}

.r-grid.s-60 .tbody-headcell {
  font-size: 11px;
  line-height: 38px;

  height: 38px;
}

.r-grid.s-60 .thead-cell {
  font-size: 11px;

  width: 38px;
}

.r-grid.s-60 .tbody-cell {
  width: 38px;
  height: 38px;
}

.r-grid.s-60 .grid-payment-icon {
  font-size: 18px;
  line-height: 16px;
}

.r-grid.s-60 .grid-additional-icon {
  font-size: 13px;
  line-height: 15px;
}

.r-grid.s-60 .tbody-cell.start:before,
.r-grid.s-60 .tbody-cell.end:after {
  width: 18px;
  height: 36px;
}
