.rc-time-picker {
  display: inline-block;

  box-sizing: border-box;
}
.rc-time-picker * {
  box-sizing: border-box;
}
.rc-time-picker-input {
  font-size: 12px;
  line-height: 1.5;

  position: relative;

  display: inline-block;

  width: 100%;
  height: 28px;
  padding: 4px 7px;

  cursor: text;
  transition: border .2s cubic-bezier(.645, .045, .355, 1),
  background .2s cubic-bezier(.645, .045, .355, 1),
  box-shadow .2s cubic-bezier(.645, .045, .355, 1);

  color: #666666;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: none;
}
.rc-time-picker-input[disabled] {
  cursor: not-allowed;

  color: #cccccc;
  background: #f7f7f7;
}
.rc-time-picker-panel {
  position: absolute;
  z-index: 1070;

  box-sizing: border-box;
  width: 170px;
}
.rc-time-picker-panel * {
  box-sizing: border-box;
}
.rc-time-picker-panel-inner {
  font-size: 12px;
  line-height: 1.5;

  position: relative;

  display: inline-block;

  list-style: none;

  text-align: left;

  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  background-color: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 1px 5px #cccccc;
}
.rc-time-picker-panel-narrow {
  max-width: 113px;
}
.rc-time-picker-panel-input {
  line-height: 1.5;

  width: 100%;
  margin: 0;
  padding: 0;

  cursor: auto;

  border: 1px solid transparent;
  outline: 0;
}
.rc-time-picker-panel-input-wrap {
  position: relative;

  box-sizing: border-box;
  padding: 6px;

  border-bottom: 1px solid #e9e9e9;
}
.rc-time-picker-panel-input-invalid {
  border-color: red;
}
.rc-time-picker-panel-clear-btn {
  line-height: 20px;

  position: absolute;
  top: 6px;
  right: 6px;

  overflow: hidden;

  width: 20px;
  height: 20px;
  margin: 0;

  cursor: pointer;
  text-align: center;
}
.rc-time-picker-panel-clear-btn:after {
  font-size: 12px;
  line-height: 1;

  display: inline-block;

  width: 20px;

  content: "x";
  transition: color .3s ease;

  color: #aaaaaa;
}
.rc-time-picker-panel-clear-btn:hover:after {
  color: #666666;
}
.rc-time-picker-panel-select {
  font-size: 12px;

  position: relative;

  float: left;
  overflow-y: auto;

  box-sizing: border-box;
  width: 56px;
  max-height: 144px;
  margin-left: -1px;

  border: 1px solid #e9e9e9;
  border-width: 0 1px;
}
.rc-time-picker-panel-select-active {
  overflow-y: auto;
}
.rc-time-picker-panel-select:first-child {
  margin-left: 0;

  border-left: 0;
}
.rc-time-picker-panel-select:last-child {
  border-right: 0;
}
.rc-time-picker-panel-select ul {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}
.rc-time-picker-panel-select li {
  line-height: 24px;

  box-sizing: content-box;
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 0 0 0 16px;

  list-style: none;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}
.rc-time-picker-panel-select li:hover {
  background: #edfaff;
}
li.rc-time-picker-panel-select-option-selected {
  font-weight: bold;

  background: #f7f7f7;
}
li.rc-time-picker-panel-select-option-disabled {
  color: #cccccc;
}
li.rc-time-picker-panel-select-option-disabled:hover {
  cursor: not-allowed;

  background: transparent;
}
.loading-spinner {
  position: relative;

  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.cube1,
.cube2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;

  background-color: #ffffff;
}

.cube2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
    scale(.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(.5);
    transform: translateX(42px) rotate(-90deg) scale(.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
    scale(.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=common.css.map*/
