html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;

  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  height: 150px;
  padding: 20px;

  color: white;
  background-color: #222222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateY(30px);

  opacity: 0;
}

.ReactModal__Content--after-open {
  transform: translateY(0);

  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translateY(30px);

  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
